:root {
    --main-color: steelblue;
    --secondary-color: #eee;
    --text-color: #333;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: var(--main-color);
    padding: 0;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: var(--main-color);
}

p {
    padding: 0;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}